@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.sidebar {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #999999 transparent;
}

/* For Google Chrome and others */
.sidebar::-webkit-scrollbar {
  background: transparent;
  width: 3px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 10px;
}

/* Custom style */
.header-right {
  width: calc(100% - 3.5rem);
}
.sidebar:hover {
  width: 16rem;
}
@media only screen and (min-width: 768px) {
  .header-right {
      width: calc(100% - 16rem);
  }        
}